body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin: 0px 200px;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px 100px 8px 100px;
    gap:16px;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.logo {
    font-size: 24px;
}

.links ul { 
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.links a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.header, .hero-container, .footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

 .hero-container {
    display: flex;
    justify-content: space-between;
    padding: 100px 100px;
    height: 200px;
    gap: 8px;
 }

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    width: 100%
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
}

.hero-text-container {
    min-width: 300px;
    max-width: 50%;
    flex-shrink: 0;
 }

.hero-image img {
    width: 100%;
    height: 100%;
}
.hero-image {
    width: 50%;
}

.sign-up button {
    background-color: #3882F6;
    padding: 6px 16px;
    border-radius: 8px;
    border: none;
    color: #E5E7EB;
}

.sign-up {
    padding-top: 8px;
}

.info-head {
    display: flex;
    justify-content: center;
    margin: 16px 0px;
    font-size: 36px;
    font-weight: bolder;
}

.image-align {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.image-align img {
    width: 100%;
    height: auto;
    border: 3px solid #3882F6;
    border-radius: 15px;
    margin 16px;
}

.info {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.image-text{
    color: #1F2937;
    text-align: center;
    margin: 4px 0;
}

.footer {
    height: 72px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.quote-box {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    padding: 30px 290px;
    margin:40px 0px;
}

.quote {
    font-weight: lighter;
    font-style: italic;
    
}

.author {
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
    margin: 0px;
}

.call-action {
    background-color: #3882F6;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 64px;
    margin: 0px 280px 32px 280px;
    border-radius: 5px;
}

.call-action button {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

.call-title {
    font-weight: bold;
    margin-bottom: 4px;
}

.call-sub {
    font-weight: lighter;
}